@model Blog
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>
    <b>@Model.Title</b>İsimli kaydı silmek istiyor musunuz?
</h1>

<form asp-action="Delete" asp-controller="Blog" method="post">
    <input type="hidden" asp-for="BlogId"/>   
    <button type="submit" class="btn btn-primary">Delete</button>
</form> 